Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
BuildArtifacts/
Plugins/Developer/RiderLink
.vscode
.vs
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/CapsaDemo.sln.DotSettings.user
